<p style="text-align:center; color:navy; font-size: 15px;">
  Created by <strong><em>Klissmann Anaclerio.</em></strong><br>
  Distribution without authorization is prohibited.
</p>

<p style="text-align:center; color: #2C3E50; font-size: 25px;">
  Datamining <span style="color:#E74C3C;">#1</span> Banking Devices:
</p>

<p style="font-size: 16px; color: #333; font-weight: bold; margin-bottom: 10px;">
  The analysis process will be carried out using three programming languages: <span style="color: #0066cc;">SQL</span>, <span style="color: #ff6600;">Python</span>, and <span style="color: #28a745;">R</span>, to answer the following questions:
</p>

<ul style="list-style-type: none; padding-left: 0;">
  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #0066cc;">1. </span> What neighborhoods have at least 51% of the total money transacted by each customer?
  </li>
  
  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #ff6600;">2. </span> What devices have transactions from at least 100 different customers?
  </li>

  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #28a745;">3. </span> What are the 5 neighborhoods where the highest number of unique customers make transactions on POS-type devices? The answer should include the number of customers associated with these neighborhoods.
  </li>

  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #dc3545;">4. </span> What are the 10 unique distances (in kilometers) between the most distant devices in the Sucre neighborhood?
  </li>
</ul>

<p style="font-weight: bold; font-size: 16px;">Information from the .csv files:</p>
<ul>
  <li>Files with UTF-8 encoding</li>
  <li>exa_barrios: A list of neighborhoods (areas) in a city.</li>
  <li>exa_dispositivos: A list of physical channel devices (branches, ATMs, multifunctional devices, bank correspondents, PAC, and establishments â€“ POS), including their geographical location.</li>
  <li>exa_trx_clientes: Contains the number and amount of transactions from several customers made on some of the above devices.</li>
</ul>

<p style="font-weight: bold; font-size: 16px;">Warning:</p>
<p>The data contained in the CSV files is fictional and is only used for demonstration purposes. <br> 
This includes: device names, locations, customers, amounts, and any other information presented.</p>

<p style="font-weight: bold; font-size: 16px;">System Information:</p>
<ul>
  <li>Ubuntu Desktop as the Operating System.</li>
  <li>CSV files loaded into the PostgresSQL-14 engine.</li>
  <li>Python 3.12</li>
  <li>R 4.1.2</li>
</ul>

<p style="font-weight: bold; font-size: 16px;">Link to download the CSV files:</p>
<ul>
  <li><a href="https://github.com/KlissmannA/TheDataMiner/tree/main/Project%20I/English/data" target="_blank">Github</a></li>
</ul>

<p style="font-weight: bold; font-size: 14px;">exa_barrios.csv</p>
<p>id_barrio = neighborhood_id</p>
<p>nombre_barrio = neighborhood_name</p>

<p style="font-weight: bold; font-size: 14px;">exa_dispositivos.csv</p>
<p>cliente = client</p>
<p>tipo_doc = document_type</p>
<p>tipo_dispositivo = device_type</p>
<p>codigo_dispositivo = device_code</p>
<p>num_trx = transaction_count</p>
<p>mnt_total_trx = total_transaction_amount</p>

<p style="font-weight: bold; font-size: 14px;">exa_trx_clientes.csv</p>
<p>tipo_dispositivo = device_type</p>
<p>codigo_dispositivo = device_code</p>
<p>latitud = latitude</p>
<p>longitud = longitude</p>
<p>id_barrio = neighborhood_id</p>

<p style="font-weight: bold; font-size: 12px;">Important note: The column name "num_cliente" was changed to "cliente" in SQL.</p>

<p style="text-align:center; color: #2C3E50; font-size: 25px;">
  Preparation with <span style="color:#E74C3C; font-weight: bold;">Python</span>
</p>

<img src="https://i0.wp.com/junilearning.com/wp-content/uploads/2020/06/python-programming-language.webp?fit=800%2C800&ssl=1" alt="Python Programming" style="display:block; margin:auto; width:15%;"/>

<p style="font-weight: bold; font-size: 15px;">Libraries for Python</p>

In [1]:
import pandas as pd
import os
import numpy as np

<p style="font-weight: bold; font-size: 15px;">Directories and files with the OS module</p>

In [2]:
dir = '/home/u2/Desktop/x'

In [3]:
barrios = os.path.join(dir,'exa_barrios.csv')

dispositivos = os.path.join(dir,'exa_dispositivos.csv')

clientes = os.path.join(dir,'exa_trx_clientes.csv')

<p style="font-weight: bold; font-size: 15px;">Read the CSV files with the Pandas module</p>

In [4]:
df_barrios = pd.read_csv(barrios)

df_dispositivos = pd.read_csv(dispositivos)

df_clientes = pd.read_csv(clientes)

<p style="font-weight: bold; font-size: 15px;">View each dataframe in detail with Python</p>

<p style="font-weight: bold; font-size: 15px;"> Barrios. </p>

In [5]:
df_barrios.info()

print('\n')

df_barrios.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_barrio      337 non-null    int64
 1   nombre_barrio  337 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

id_barrio        0
nombre_barrio    0
dtype: int64

<p style="font-weight: bold; font-size: 15px;"> Dispositivos.</p>

In [6]:
df_dispositivos.info()

print('\n')

df_dispositivos.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37284 entries, 0 to 37283
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tipo_dispositivo    37284 non-null  object
 1   codigo_dispositivo  37284 non-null  int64
 2   latitud             37284 non-null  float64
 3   longitud            37284 non-null  float64
 4   id_barrio           37284 non-null  int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ MB

tipo_dispositivo      0
codigo_dispositivo    0
latitud               0
longitud              0
id_barrio             0
dtype: int64

<p style="font-weight: bold; font-size: 15px;"> Clientes.</p>

In [7]:
df_clientes.info()

print('\n')

df_clientes.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93446 entries, 0 to 93445
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          93446 non-null  float64
 1   tipo_doc            93446 non-null  int64
 2   tipo_dispositivo    93446 non-null  object
 3   codigo_dispositivo  93446 non-null  int64
 4   num_trx             93446 non-null  int64
 5   mnt_total_trx       93446 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 4.3+ MB

Unnamed: 0            0
tipo_doc              0
tipo_dispositivo      0
codigo_dispositivo    0
num_trx               0
mnt_total_trx         0
dtype: int64

<p style="font-weight: bold; font-size: 15px;">Change the name of the 'Unnamed' column to 'cliente'.</p>

In [8]:
df_clientes.rename(columns={'Unnamed: 0': 'cliente'}, inplace=True)

<p style="font-weight: bold; font-size: 15px;">View the head of each dataframe with Python.</p>

In [9]:
df_barrios.head()

   id_barrio nombre_barrio
0  737998257    La Campina
1  737999435     Guayaquil
2  737998219        Vipasa
3  737996837       Lourdes
4  737997031    Villanueva

In [10]:
df_clientes.head()

,cliente,tipo_doc,tipo_dispositivo,codigo_dispositivo,num_trx,mnt_total_trx
0,6.861790e+18,1,POS,14812028,3,22218042.0
1,1.552970e+18,1,POS,14388938,3,21583407.0
2,-4.075900e+18,1,POS,12370698,1,6185349.0
3,3.539340e+18,1,POS,10313583,2,10313583.0
4,5.595550e+18,1,POS,14358071,4,28716142.0

In [11]:
df_dispositivos.head()

  tipo_dispositivo  codigo_dispositivo   latitud   longitud  id_barrio
0              POS             1024702  3.451135 -76.530893  737998832
1              POS             1076402  3.446585 -76.517672  738000381
2              POS             1077002  3.446585 -76.517672  738000381
3              POS             3342404  3.476909 -76.485286  737998905
4              POS             3378003  3.485575 -76.516418  737998174

<p style="text-align:center; color: #2C3E50; font-size: 25px;">
  Preparation with <span style="color:#E74C3C; font-weight: bold;">R</span>
</p>

<img src="https://media.licdn.com/dms/image/v2/C5112AQGwFKL8eouK0A/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1523824114776?e=2147483647&v=beta&t=VdgLZlvJCA0vUzucSk-ElXr0oV5X324LhVNLLcmNZLk" style="display:block; margin:auto; width:15%;"/>

<p style="font-weight: bold; font-size: 15px;">Libraries for R</p>

In [4]:
library(dplyr)
library(readr)
library(pracma)

<p style="font-weight: bold; font-size: 15px;">Directories and files with the read library and create the dataframes.</p>

In [5]:
dir_R <- '/home/u2/Desktop/x'

In [7]:
dfr_barrios <- read_csv(file.path(dir_R,'exa_barrios.csv'), show_col_types = FALSE)

dfr_dispositivos <- read_csv(file.path(dir_R,'exa_dispositivos.csv'), show_col_types = FALSE)

dfr_clientes <- read_csv(file.path(dir_R,'exa_trx_clientes.csv'), show_col_types = FALSE)

<p style="font-weight: bold; font-size: 15px;">Change from num_cliente to cliente</p>

In [8]:
dfr_clientes <- dfr_clientes %>%
  rename( cliente = num_cliente )

<p style="font-weight: bold; font-size: 15px;">View each dataframe in detail with R</p>

In [9]:
head(dfr_barrios,5)

  id_barrio nombre_barrio
1 737998257 La Campina
2 737999435 Guayaquil
3 737998219 Vipasa
4 737996837 Lourdes
5 737997031 Villanueva

In [10]:
str(dfr_barrios)

spc_tbl_ [337 Ã— 2] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ id_barrio    : num [1:337] 7.38e+08 7.38e+08 7.38e+08 7.38e+08 7.38e+08 ...
 $ nombre_barrio: chr [1:337] "La Campina" "Guayaquil" "Vipasa" "Lourdes" ...
 - attr(*, "spec")=
  .. cols(
  ..   id_barrio = col_double(),
  ..   nombre_barrio = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [11]:
head(dfr_dispositivos,5)

  tipo_dispositivo codigo_dispositivo latitud  longitud  id_barrio
1 POS              1024702            3.451135 -76.53089 737998832
2 POS              1076402            3.446585 -76.51767 738000381
3 POS              1077002            3.446585 -76.51767 738000381
4 POS              3342404            3.476909 -76.48529 737998905
5 POS              3378003            3.485575 -76.51642 737998174

In [12]:
str(dfr_dispositivos)

spc_tbl_ [37,284 Ã— 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ tipo_dispositivo  : chr [1:37284] "POS" "POS" "POS" "POS" ...
 $ codigo_dispositivo: num [1:37284] 1024702 1076402 1077002 3342404 3378003 ...
 $ latitud           : num [1:37284] 3.45 3.45 3.45 3.48 3.49 ...
 $ longitud          : num [1:37284] -76.5 -76.5 -76.5 -76.5 -76.5 ...
 $ id_barrio         : num [1:37284] 7.38e+08 7.38e+08 7.38e+08 7.38e+08 7.38e+08 ...
 - attr(*, "spec")=
  .. cols(
  ..   tipo_dispositivo = col_character(),
  ..   codigo_dispositivo = col_double(),
  ..   latitud = col_double(),
  ..   longitud = col_double(),
  ..   id_barrio = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [13]:
head(dfr_clientes,5)

  cliente      tipo_doc tipo_dispositivo codigo_dispositivo num_trx
1  6.86179e+18 1        POS              14812028           3
2  1.55297e+18 1        POS              14388938           3
3 -4.07590e+18 1        POS              12370698           1
4  3.53934e+18 1        POS              10313583           2
5  5.59555e+18 1        POS              14358071           4
  mnt_total_trx
1 22218042
2 21583407
3  6185349
4 10313583
5 28716142

In [14]:
str(dfr_clientes)

spc_tbl_ [93,446 Ã— 6] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ cliente           : num [1:93446] 6.86e+18 1.55e+18 -4.08e+18 3.54e+18 5.60e+18 ...
 $ tipo_doc          : num [1:93446] 1 1 1 1 1 1 1 1 1 1 ...
 $ tipo_dispositivo  : chr [1:93446] "POS" "POS" "POS" "POS" ...
 $ codigo_dispositivo: num [1:93446] 14812028 14388938 12370698 10313583 14358071 ...
 $ num_trx           : num [1:93446] 3 3 1 2 4 1 1 1 1 1 ...
 $ mnt_total_trx     : num [1:93446] 22218042 21583407 6185349 10313583 28716142 ...
 - attr(*, "spec")=
  .. cols(
  ..   num_cliente = col_double(),
  ..   tipo_doc = col_double(),
  ..   tipo_dispositivo = col_character(),
  ..   codigo_dispositivo = col_double(),
  ..   num_trx = col_double(),
  ..   mnt_total_trx = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

<p style="font-weight: bold; font-size: 15px;">Validate null values</p>

In [15]:
missing_Valuesb <-  sapply(dfr_barrios, function(x) sum(is.na(x)))
missing_Valuesc <- sapply(dfr_clientes, function(x) sum(is.na(x)))
missing_Valuesd <- sapply(dfr_dispositivos, function(x) sum(is.na(x)))

missing_Valuesb
missing_Valuesc
missing_Valuesd

    id_barrio nombre_barrio
            0             0

           cliente           tipo_doc   tipo_dispositivo codigo_dispositivo
                 0                  0                  0                  0
           num_trx      mnt_total_trx
                 0                  0

  tipo_dispositivo codigo_dispositivo            latitud           longitud
                 0                  0                  0                  0
         id_barrio
                 0

<p style="font-weight: bold; font-size: 15px;">Questions</p>

<p style="font-weight: bold; font-size: 15px;">1. Which neighborhoods had transactions accounting for at least 51% of the total money transacted by each client? Consider that clients can have more than one neighborhood.</p>

<p style="font-weight: bold; font-size: 15px;">SQL </p>

<div style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; border: 1px solid #ddd; font-family: 'Courier New', monospace; font-size: 16px;">
    <pre><code style="color: #2E8B57;">
WITH dinerototal AS (
SELECT cliente, 
SUM(mnt_total_trx) AS dineroxcliente 
FROM clientes c 
GROUP BY cliente
), 
dinerobarrio AS (
SELECT b.nombre_barrio, 
cliente, 
SUM(mnt_total_trx) AS dinerobarriocliente 
FROM clientes c 
LEFT JOIN dispositivos d ON d.codigo_dispositivo = c.codigo_dispositivo 
LEFT JOIN barrios b ON b.id_barrio = d.id_barrio 
GROUP BY b.nombre_barrio, cliente
) 
SELECT nombre_barrio, db.cliente 
FROM dinerobarrio db 
LEFT JOIN dinerototal dt ON dt.cliente = db.cliente 
WHERE db.dinerobarriocliente >= 0.51 * dineroxcliente;
    </code></pre>
</div>

<p style="font-weight: bold; font-size: 15px;">Explanation:</p>
<p>In the query, the following operations were performed:</p>

<ul>
    <li><strong>Calculation of total money per client:</strong> A subquery was used to calculate the total transacted by each client, summing the amount of all their transactions.</li>
    <li><strong>Calculation of money transacted by neighborhood:</strong> In another subquery, the transactions made by each client in each neighborhood were summed up, using a LEFT JOIN between the relevant tables to ensure that all neighborhoods, even those with no transactions, were represented.</li>
    <li><strong>Comparison of amounts:</strong> The results of both subqueries were joined, and a WHERE clause was applied to filter cases where the money transacted in the neighborhood represented at least 51% of the total transacted by the client. This ensures that only the relevant neighborhoods, according to the specified criterion, are shown.</li>
    <li><strong>Final result:</strong> The result shows the neighborhoods where a client has made transactions accounting for at least 51% of their total spending, considering that a client can be associated with more than one neighborhood.</li>
</ul>

<p style="font-weight: bold; font-size: 15px;">Python Code: </p>

In [12]:
df1 = df_clientes

# Step 1: Group by client and calculate the total transactions per client
df1_a = df1.groupby('cliente')['mnt_total_trx'].sum().reset_index()

# Rename the column to 'dinerototal'
df1_a = df1_a.rename(columns={'mnt_total_trx': 'dinerototal'})

# Step 2: Perform merge with the devices and neighborhoods tables
df1_b = pd.merge(df1, df_dispositivos, on='codigo_dispositivo', how='left')
df1_c = pd.merge(df1_b, df_barrios, on='id_barrio', how='left')

# Step 3: Group by client and neighborhood, and calculate the total transactions per neighborhood
df1_d = df1_c.groupby(['cliente', 'nombre_barrio'])['mnt_total_trx'].sum().reset_index()

# Step 4: Merge the previous results
df1_e = pd.merge(df1_a, df1_d, on='cliente', how='right')

# Rename the column 'mnt_total_trx' to 'dinerobarrio'
df1_e = df1_e.rename(columns={'mnt_total_trx': 'dinerobarrio'})

# Step 5: Filter neighborhoods where the transacted amount is at least 51% of the total per client
df1_f = df1_e[['nombre_barrio', 'cliente']][df1_e['dinerobarrio'] >= 0.51 * df1_e['dinerototal']]

# View the first 10 results
df1_f.head(10)

               nombre_barrio       cliente
8       UrbanizaciÃ³n Militar -9.214610e+18
9                San Vicente -9.211520e+18
10        San Fernando Nuevo -9.210960e+18
18  UrbanizaciÃ³n San JuaquÃ­n -9.204170e+18
35                 Versalles -9.201710e+18
37          Colseguros Andes -9.201640e+18
38               Ciudad 2000 -9.191710e+18
39                    Calima -9.186690e+18
61             Olaya Herrera -9.185850e+18
65             Los AlcÃ¡zares -9.183470e+18

<p style="font-weight: bold; font-size: 15px;">Explanation:</p>

<p><strong>Group by client:</strong> The total transactions (mnt_total_trx) for each client are calculated and stored as dinerototal.</p>
<p><strong>Join with devices and neighborhoods:</strong> A merge is performed between the client, device, and neighborhood tables to associate each client with their corresponding neighborhood(s).</p>
<p><strong>Group by neighborhood and client:</strong> The data is grouped by client and neighborhood, and the total transactions per neighborhood (dinerobarrio) are calculated.</p>
<p><strong>Join the results:</strong> Another merge is performed to combine the total per client (dinerototal) with the total per neighborhood (dinerobarrio).</p>
<p><strong>Filter the neighborhoods:</strong> A filter is applied to select only those neighborhoods where the money transacted represents at least 51% of the total transactions of the client.</p>
<p>The final result shows the neighborhoods that meet this criterion for each client.</p>

<p style="font-weight: bold; font-size: 15px;">R Code: </p>

In [20]:
# Step 1: Group by customer and calculate the total transactions per customer
df1_r  <- dfr_clientes
df1_r_a <- df1_r %>%
  group_by(cliente) %>%
  summarise(mnt_total_trx = sum(mnt_total_trx))

# Rename the column to 'dinerototal'
df1_r_a <- df1_r_a %>%
  rename(dinerototal = mnt_total_trx)

# Step 2: Perform merge with the devices and neighborhoods tables
df1_r_b <- left_join(df1_r, dfr_dispositivos, by = 'codigo_dispositivo', relationship = "many-to-many")
df1_r_c <- left_join(df1_r_b, dfr_barrios, by = 'id_barrio')

# Step 3: Group by customer and neighborhood, and calculate the total transactions per neighborhood
df1_r_d <- df1_r_c %>%
  group_by(cliente, nombre_barrio) %>%
  summarise(mnt_total_trx = sum(mnt_total_trx))

# Step 4: Merge the previous results
df1_r_e <- right_join(df1_r_a, df1_r_d, by = 'cliente')

# Rename the column 'mnt_total_trx' to 'dinerobarrio'
df1_r_e <- df1_r_e %>%
  rename(dinerobarrio = mnt_total_trx) %>%
  ungroup()  # Ungroup before applying any filter

# Step 5: Select only the necessary columns before filtering
df1_r_e <- df1_r_e %>%  filter(dinerobarrio >= 0.51 * dinerototal)

# Final result
head(df1_r_e%>% select(cliente, nombre_barrio ),10)

`summarise()` has grouped output by 'cliente'. You can override using the
`.groups` argument.

   cliente      nombre_barrio
1  -9.21461e+18 UrbanizaciÃ³n Militar
2  -9.21152e+18 San Vicente
3  -9.21096e+18 San Fernando Nuevo
4  -9.20417e+18 UrbanizaciÃ³n San JuaquÃ­n
5  -9.20171e+18 Versalles
6  -9.20164e+18 Colseguros Andes
7  -9.19171e+18 Ciudad 2000
8  -9.18669e+18 Calima
9  -9.18585e+18 Olaya Herrera
10 -9.18347e+18 Los AlcÃ¡zares

<p style="font-weight: bold; font-size: 15px;">Explanation:</p>

<p>First, the total transactions per client (dinerototal) and per neighborhood (dinerobarrio) are calculated through groupings (group_by()) and summed with (summarise()). Then, the results of both calculations are combined using right_join() to ensure that all clients are included, even those without transactions in certain neighborhoods. After renaming the columns for clarity, the dataframe is ungrouped (ungroup()) to prevent issues in later operations. Finally, rows where the total transactions per neighborhood (dinerobarrio) are at least 51% of the total transactions per client (dinerototal) are filtered, and only the relevant columns are selected to show the final results.</p>

<p style="font-weight: bold; font-size: 15px;">2. Which devices have transactions from at least 100 different customers? </p>

<p style="font-weight: bold; font-size: 15px;">SQL</p>

<div style="background-color: #f9f9f9; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace; border: 1px solid #ddd;">
    <pre><code style="color: darkblue; font-size: 16px;">
SELECT 
    codigo_dispositivo, 
    COUNT(DISTINCT(cliente)) AS clientes_distintos
FROM 
    clientes c
GROUP BY 
    codigo_dispositivo
HAVING 
    COUNT(DISTINCT(cliente)) >= 100
ORDER BY 
    clientes_distintos DESC;
    </code></pre>
</div>

<p style="font-weight: bold; font-size: 15px;">Explanation:

The count of each unique customer was done using two functions:

DISTINCT: This function is used to eliminate duplicate values in the customer column, ensuring that each customer is only counted once.

COUNT: This function counts the rows corresponding to each customer, providing the total number of records for each unique customer.

By combining these two functions, we can count only unique customers. To group the results by device code, the GROUP BY clause is used, allowing us to get the number of unique customers for each device.

Additionally, the HAVING clause is used to apply a filter that ensures only devices with at least 100 unique customers are included. Finally, ORDER BY is used to sort the results in descending order based on the customer count, so devices with the most unique customers appear first.</p>

<p style="font-weight: bold; font-size: 15px;">Python code:</p>

In [13]:
df2 = df_clientes

In [14]:
# Step 1: Select the necessary columns
df2_a = df2[['codigo_dispositivo', 'cliente']]

# Step 2: Group by 'codigo_dispositivo' and count the unique clients
df2_b = df2_a.groupby('codigo_dispositivo')['cliente'].nunique()

# Step 3: Filter to keep only those devices with 100 or more unique clients
df2_b = df2_b[df2_b >= 100]

# Step 4: Sort the results in descending order by the number of unique clients
df2_b = df2_b.sort_values(ascending=False).reset_index()

# Display the results
df2_b

     codigo_dispositivo  cliente
0                   745      660
1              11303609      525
2                   829      482
3                   812      457
4                   747      457
..                  ...      ...
248                1187      102
249                5401      102
250                2182      101
251                3588      100
252                4594      100

[253 rows x 2 columns]

<p style="font-weight: bold; font-size: 15px;">Explanation:

The code groups the data by device_code, 
then counts how many unique customers there are per device using nunique().
Next, it filters to show only the devices with 100 or more unique customers.
Finally, it sorts the results from highest to lowest and converts the result into a DataFrame (instead of a Series), 
making it easier to read and work with.</p>

<p style="font-weight: bold; font-size: 15px;">R code:</p>

In [22]:
df2_r <- dfr_clientes

In [23]:
# Step 1: Select the necessary columns
df2_r_a <- df2_r[, c("codigo_dispositivo", 'cliente')]

# Step 2: Group by 'codigo_dispositivo' and count the unique customers
df2_r_b<-  df2_r_a %>%
  group_by(codigo_dispositivo) %>%
  summarise(clientes_unicos = n_distinct(cliente))

# Step 3: Filter to only include devices with 100 or more unique customers
df2_r_c <- df2_r_b %>% filter(clientes_unicos >= 100)

# Step 4: Sort the results in descending order by the number of unique customers
df2_r_d <- df2_r_c %>% arrange(desc(clientes_unicos))

# Display the results
df2_r_d

    codigo_dispositivo clientes_unicos
1        745           660
2   11303609           525
3        829           482
4        747           457
5        812           457
6       4783           430
7       1146           427
8        808           411
9       5394           402
10      4784           400
11  11857968           397
12  11096278           391
13      1156           388
14      1147           386
15      2751           382
16  14540827           368
17      2752           367
18      1116           364
19       752           360
20  10602407           360
21      1157           359
22  10327682           359
23      1155           356
24  10932812           353
25      1115           350
26      8352           349
27      2930           347
28        60           346
29      2750           345
30      5859           344
â‹®   â‹®                  â‹®
224        735         118
225       3044         118
226 1104423594         118
227       3662         117
228       4835         115
229       4895         115
230       6285         115
231 1203621492         115
232        620         114
233   14740583         114
234       5634         113
235 1076120918         113
236       4094         112
237       5006         111
238       6605         109
239   15287022         108
240       6447         107
241   12370524         106
242 1104427089         106
243       2134         104
244       3937         104
245   14015341         104
246        739         103
247       4064         103
248       1187         102
249       2037         102
250       5401         102
251       2182         101
252       3588         100
253       4594         100

<p style="font-weight: bold; font-size: 15px;">Explanation

This code groups the data by device_code and then counts how many unique customers each device has using n_distinct(cliente). 
Next, it filters the devices that have 100 or more unique customers, and finally, it sorts the results from highest

<p style="font-weight: bold; font-size: 15px;">3. What are the 5 neighborhoods where the most unique customers make transactions on POS devices? The answer should include the number of customers associated with these neighborhoods.</p>

<p style="font-weight: bold; font-size: 15px;">SQL</p>

<div style="background-color: #f9f9f9; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace; font-size: 16px;">
    <pre><code style="color: darkred;">SELECT 
    b.nombre_barrio, 
    COUNT(DISTINCT (c.cliente)) 
FROM 
    clientes c 
LEFT JOIN 
    dispositivos d ON d.codigo_dispositivo = c.codigo_dispositivo 
LEFT JOIN 
    barrios b ON b.id_barrio = d.id_barrio 
WHERE 
    c.tipo_dispositivo = 'POS' 
GROUP BY 
    b.nombre_barrio 
ORDER BY 
    COUNT(DISTINCT (c.cliente)) DESC 
LIMIT 5;</code></pre>
</div>

<p style="font-weight: bold; font-size: 15px;">Explanation:

The following operations were performed in the query:

Table join: A LEFT JOIN was used to combine the devices and neighborhoods tables. This type of join allows each device to be associated with its corresponding neighborhood, even if some devices do not have an associated neighborhood.

Counting unique customers: The COUNT and DISTINCT functions were applied to count the number of unique customers in each neighborhood. This ensures that duplicate customers are not counted.

Data filtering: The WHERE clause was used to filter the devices so that only POS devices were included. This restricts the results to this specific type of device.

Grouping and sorting: Then, GROUP BY was used to group the results by neighborhood, and ORDER BY DESC was used to sort the neighborhoods from highest to lowest based on the number of unique customers.

Result limitation: Finally, LIMIT 5 was applied to obtain only the top five neighborhoods with the highest number of unique customers.</p>

<p style="font-weight: bold; font-size: 15px;">python code: </p>

In [15]:
df3 = df_clientes

# Step 1: Merge the 'clientes', 'dispositivos', and 'barrios' tables using the corresponding keys
df3_a = pd.merge(df3, df_dispositivos, on='codigo_dispositivo', how='left')
df3_b = pd.merge(df3_a, df_barrios, on='id_barrio', how='left')

# Step 2: Filter to keep only the devices of type 'POS'
df3_c = df3_b[df3_b['tipo_dispositivo_y'] == 'POS']

# Step 3: Select the 'nombre_barrio' and 'cliente' columns for analysis
df3_d = df3_c[['nombre_barrio', 'cliente']]

# Step 4: Group by 'nombre_barrio' and count the unique clients in each neighborhood
df3_f = df3_d.groupby('nombre_barrio')['cliente'].nunique().reset_index()

# Step 5: Sort the neighborhoods by the number of unique clients in descending order
df3_g = df3_f.sort_values(by='cliente', ascending=False)

# Display the results (top 5)
df3_g.head()

                  nombre_barrio  cliente
215                 San Vicente     1295
250    UrbanizaciÃ³n San JuaquÃ­n      899
214                   San Pedro      775
222    Santa MÃ³nica Residencial      753
243  UrbanizaciÃ³n Ciudad JardÃ­n      699

<p style="font-size: 15px;">
    <strong>Explanation:</strong><br><br>
    This code aims to analyze the number of unique customers in each neighborhood, using 'POS' type devices. First, three tables are merged: <code>df_clientes</code>, <code>df_dispositivos</code>, and <code>df_barrios</code>. A left join is performed between <code>df_clientes</code> and <code>df_dispositivos</code> using the key <code>codigo_dispositivo</code>, and then another left join is made between the resulting table and <code>df_barrios</code> using the <code>id_barrio</code> field. After that, the data is filtered to keep only records of devices that are of type 'POS', using the value from the <code>tipo_dispositivo_y</code> column. Next, only the relevant columns, in this case <code>nombre_barrio</code> and <code>cliente</code>, are selected for the analysis. Then, the data is grouped by neighborhood (<code>nombre_barrio</code>) and the unique customers in each neighborhood are counted using the <code>nunique()</code> function. Finally, the neighborhoods are sorted by the number of unique customers in descending order, and the top 5 results are displayed. This allows for a list of neighborhoods with the highest number of unique customers associated with 'POS' type devices.
</p>

<p style="font-weight: bold; font-size: 15px;">R code: </p>

In [24]:
df_3_r <- dfr_clientes

In [25]:
# Step 1: Join the 'clientes', 'dispositivos', and 'barrios' tables by the corresponding keys
df_3_r_a <- left_join(df_3_r, dfr_dispositivos, by = 'codigo_dispositivo', relationship = "many-to-many")
df_3_r_b <- left_join(df_3_r_a, dfr_barrios, by = 'id_barrio')

# Step 2: Filter to keep only the 'POS' type devices
df_3_r_c <- df_3_r_b %>% filter(tipo_dispositivo.x == 'POS')  # Or use tipo_dispositivo.y if applicable

# Step 3: Select the 'nombre_barrio' and 'cliente' columns for analysis
df_3_r_d <- df_3_r_c %>% select(nombre_barrio, cliente)

# Step 4: Group by 'nombre_barrio' and count the unique customers in each neighborhood
df_3_r_f <- df_3_r_d %>% group_by(nombre_barrio) %>% summarise(clientes_unicos = n_distinct(cliente))

# Step 5: Sort the neighborhoods by the number of unique customers in descending order
df_3_r_g <- df_3_r_f %>% arrange(desc(clientes_unicos))

# Display the results (top 5)
head(df_3_r_g,5)

  nombre_barrio              clientes_unicos
1 San Vicente                1295
2 UrbanizaciÃ³n San JuaquÃ­n    899
3 San Pedro                   775
4 Santa MÃ³nica Residencial    753
5 UrbanizaciÃ³n Ciudad JardÃ­n  699

<p style="font-weight: bold; font-size: 15px;">Explanation:

This code starts with the joining of three tables using left_join. First, <code>df_3_r</code> is joined with <code>dfr_dispositivos</code> using the key <code>codigo_dispositivo</code>, and then the result is joined with <code>dfr_barrios</code> using the key <code>id_barrio</code>. These joins ensure that all records from the <code>df_3_r</code> table are retained, adding information from the other two tables where matches exist.

Then, the data is filtered to keep only 'POS' type devices using the filter <code>filter(tipo_dispositivo.x == 'POS')</code>, ensuring that only these devices are used in the following steps.

Next, only the columns <code>nombre_barrio</code> and <code>cliente</code> are selected to focus on the analysis of neighborhoods and their customers. The data is then grouped by neighborhood (<code>nombre_barrio</code>) and the unique customers for each one are counted using <code>n_distinct(cliente)</code>.

Finally, the neighborhoods are sorted in descending order based on the number of unique customers, and the top five neighborhoods with the most customers are displayed.</p>

<p style="font-weight: bold; font-size: 15px;">4. What are the 10 unique distances (in kilometers) between the farthest devices from each other in the Sucre neighborhood? </p>

<div style="background-color: #f9f9f9; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace; font-size: 16px;">
    <pre><code style="color: darkcyan;">
WITH Distancia_km AS (
    SELECT 
        d.codigo_dispositivo, 
        d2.codigo_dispositivo,
        6371 * 2 * ASIN(
            SQRT(
                POWER(SIN(RADIANS(d2.latitud - d.latitud) / 2), 2) + 
                COS(RADIANS(d.latitud)) * COS(RADIANS(d2.latitud)) * 
                POWER(SIN(RADIANS(d2.longitud - d.longitud) / 2), 2)
            )
        ) AS Distance
    FROM dispositivos d
    JOIN dispositivos d2 
        ON d.codigo_dispositivo <> d2.codigo_dispositivo
    LEFT JOIN barrios b 
        ON b.id_barrio = d.id_barrio 
        AND b.id_barrio = d2.id_barrio 
    WHERE UPPER(b.nombre_barrio) = 'SUCRE'
)
SELECT DISTINCT Distance 
FROM Distancia_km
ORDER BY Distance DESC 
LIMIT 10;
    </code></pre>
</div>

<p style="font-size: 15px;">
    <strong>Explanation:</strong><br><br>
    The distance is calculated using the Haversine formula based on the geographic coordinates (latitude and longitude) of the devices.<br><br>
    WITH Distancia_km AS (...): Creates a temporary table that calculates the distance between each pair of devices.<br>
    Haversine Formula: Calculates the distance in km between two points using their latitudes and longitudes.<br>
    <img src="https://media.licdn.com/dms/image/v2/C4E12AQELArpNkVXXrw/article-inline_image-shrink_400_744/article-inline_image-shrink_400_744/0/1651494217361?e=2147483647&v=beta&t=XrYXCIkotJOXv_290Y6a5s4I41XeYXmTpaA1C-4rlFw"  style="max-width: 100%; height: auto; margin-top: 10px;"> .<br>
    JOIN dispositivos d2: Pairs each device with all others (except itself).<br>
    LEFT JOIN barrios b: Ensures both devices are in the "Sucre" neighborhood.<br>
    SELECT DISTINCT Distance: Displays the calculated distances, ordered from highest to lowest, and limited to the top 10 largest distances.
</p>

<p style="font-weight: bold; font-size: 15px;">Python Code: </p>

In [16]:
df4 = df_dispositivos
# Step 1: Merge the dataframes
df4_a = pd.merge(df4, df_barrios, on='id_barrio', how='left')

# Step 2: Filter by neighborhood name 'SUCRE'
df4_a = df4_a[df4_a['nombre_barrio'].str.upper() == 'SUCRE']

# Step 3: Select the necessary columns
df4_a = df4_a[['codigo_dispositivo', 'latitud', 'longitud']]

# Step 4: Rename columns for the second device
df4_b = df4_a.rename(columns={'latitud': 'latitud2', 'longitud': 'longitud2'})

# Step 5: Create the cross dataframe
df4_c = df4_a.merge(df4_b, how='cross')

# Step 6: Filter rows where devices are different
df4_d = df4_c[df4_c['codigo_dispositivo_x'] != df4_c['codigo_dispositivo_y']]

# Step 7: Calculate the distances
df4_d['distancia'] = 6371 * 2 * np.arcsin(
    np.sqrt(
        np.power(np.sin(np.radians(df4_d['latitud2'] - df4_d['latitud']) / 2), 2) +
        np.cos(np.radians(df4_d['latitud'])) * np.cos(np.radians(df4_d['latitud2'])) *
        np.power(np.sin(np.radians(df4_d['longitud2'] - df4_d['longitud']) / 2), 2)
    )
)

# Step 8: Create df4_f with only the 'distancia' column
df4_f = df4_d[['distancia']].copy()  # Using .copy() to ensure it's a copy

# Step 9: Remove duplicates and round to 6 decimal places
df4_g = df4_f.drop_duplicates(subset=['distancia'])
df4_g.loc[:, 'distancia'] = df4_g['distancia'].round(6)

# Step 10: Sort the 'distancia' values in descending order
df4_g = df4_g.sort_values(by='distancia', ascending=False)

# Step 11: Show the top 10 results
df4_g.head(10)

/tmp/ipykernel_10701/676723819.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_d['distancia'] = 6371 * 2 * np.arcsin(

       distancia
14698   0.997410
14434   0.993480
14664   0.991730
14718   0.991717
14500   0.988943
64346   0.988261
43930   0.987262
34186   0.986266
14499   0.984829
23338   0.984315

<p style="font-size: 15px;">
    <strong>Explanation:</strong><br><br>
    This code aims to calculate the distance between geolocated devices in a specific neighborhood, filtering and processing the data to obtain a sorted list of unique distances. First, a merge is performed between two DataFrames (<code>df_dispositivos</code> and <code>df_barrios</code>) using the neighborhood identifier, and only the neighborhood named "SUCRE" is filtered. Then, the columns for device code, latitude, and longitude are selected for processing, renaming the latitude and longitude columns of the second device to avoid confusion in the calculation. A cross join is created (a combination of all devices with other devices in the same neighborhood), and devices that are the same are filtered out. Then, the distance between each pair of devices is calculated using the Haversine formula, which uses the geographic coordinates (latitude and longitude) of the devices to obtain the distance in kilometers. After calculating the distance, only the relevant column is extracted, duplicates are removed, and the values are rounded to six decimal places to ensure a precise and consistent representation. Finally, the results are sorted in descending order, and the top 10 highest values are displayed. All of this generates an accurate list of unique and sorted distances between devices within the "SUCRE" neighborhood.
</p>

<p style="font-weight: bold; font-size: 15px;">R code: </p>

In [26]:
df4_r <- dfr_dispositivos

In [27]:
# Step 1: Perform the join and filter the data for 'Sucre'
df4_r_a <- left_join(df4_r, dfr_barrios, by = 'id_barrio') %>% 
  filter(toupper(nombre_barrio) == 'SUCRE') 
df4_r_a <- df4_r_a[, c('codigo_dispositivo', 'latitud', 'longitud')]

df4_r_b <- left_join(df4_r, dfr_barrios, by = 'id_barrio') %>% 
  filter(toupper(nombre_barrio) == 'SUCRE')
df4_r_b <- df4_r_b[, c('codigo_dispositivo', 'latitud', 'longitud')]

# Step 2: Merge df4_r_a and df4_r_b
df4_r_c <- merge(df4_r_a, df4_r_b, by = NULL)

# Step 3: Filter out the rows where device codes are the same
df4_r_c <- df4_r_c %>% filter(codigo_dispositivo.x != codigo_dispositivo.y)

# Step 4: Rename the columns appropriately
df4_r_c <- df4_r_c %>% rename(
  la1 = latitud.x,  la2 = latitud.y, 
  lo1 = longitud.x, lo2 = longitud.y, 
  d1 = codigo_dispositivo.x, d2 = codigo_dispositivo.y
)

# Step 5: Convert latitudes and longitudes to radians (necessary for the formula)
df4_r_c$la1_rad <- deg2rad(df4_r_c$la1)
df4_r_c$la2_rad <- deg2rad(df4_r_c$la2)
df4_r_c$lo1_rad <- deg2rad(df4_r_c$lo1)
df4_r_c$lo2_rad <- deg2rad(df4_r_c$lo2)

# Step 6: Calculate the distance using the Haversine formula, which requires latitudes and longitudes in radians
df4_r_c$distancia <- 6371 * 2 * asin(
  sqrt(
    (sin((df4_r_c$la2_rad - df4_r_c$la1_rad) / 2))^2 + 
    cos(df4_r_c$la1_rad) * cos(df4_r_c$la2_rad) * 
    (sin((df4_r_c$lo2_rad - df4_r_c$lo1_rad) / 2))^2
  )
)

# Step 7: Remove duplicates and format the 'distancia' column
df4_r_d <- df4_r_c %>%
  select(distancia) %>%        # Select only the 'distancia' column
  distinct()                   # Remove duplicates in 'distancia'

# Step 8: Convert 'distancia' to decimal format (without scientific notation)
df4_r_d$distancia <- round(df4_r_d$distancia, 6)

# Step 9: Sort the results based on the 'distancia' column
df4_r_d <- df4_r_d %>% arrange(desc(distancia))

# Display the first 10 results
head(df4_r_d, 10)

   distancia
1  0.997410
2  0.993480
3  0.991730
4  0.991717
5  0.988943
6  0.988261
7  0.987262
8  0.986266
9  0.984829
10 0.984315

<p style="font-size: 15px;"> <strong>Explanation:</strong><br><br> This code aims to calculate the distances between devices located in the "SUCRE" neighborhood using their geographic coordinates (latitude and longitude). First, a <code>left_join</code> is performed between the devices dataframe (<code>df4_r</code>) and the neighborhoods dataframe (<code>dfr_barrios</code>) using the neighborhood identifier (<code>id_barrio</code>). Devices belonging to the "SUCRE" neighborhood are filtered using <code>filter(toupper(nombre_barrio) == 'SUCRE')</code>. Then, the device code, latitude, and longitude columns are selected. This process is repeated to generate two datasets, <code>df4_r_a</code> and <code>df4_r_b</code>, containing information about devices in the neighborhood.</p>

<p style="text-align:center; color:navy; font-size: 15px;">
  Created by <strong><em>Klissmann Anaclerio.</em></strong><br>
  Distribution without authorization is prohibited.
</p>

<img src="https://blog.tryshiftcdn.com/uploads/2021/11/use.jpg" alt="Imagen explicativa" style="max-width: 50%; height: auto; display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px;">