<p style="text-align:center; color:navy; font-size: 15px;">
  Realizado por <strong><em>Klissmann Anaclerio.</em></strong><br>
  Prohibido su distribución sin autorización.
</p>

<p style="text-align:center; color: #2C3E50; font-size: 25px;">
  Datamining <span style="color:#E74C3C;">#1</span> Dipositivos Bancarios:
</p>

<p style="font-size: 16px; color: #333; font-weight: bold; margin-bottom: 10px;">El proceso de análisis se llevará a cabo utilizando tres lenguajes de programación: <span style="color: #0066cc;">SQL</span>, <span style="color: #ff6600;">Python</span> y <span style="color: #28a745;">R</span>, para responder a las siguientes preguntas:</p>

<ul style="list-style-type: none; padding-left: 0;">
  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #0066cc;">1. </span> ¿Cuáles son los barrios en los cuales se realizaron los movimientos de al menos el 51% del dinero total transado por cada cliente?
  </li>
  
  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #ff6600;">2. </span> ¿Cuáles son los dispositivos con transacciones de al menos 100 clientes diferentes?
  </li>

  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #28a745;">3. </span> ¿Cuáles son los 5 barrios donde la mayor cantidad de clientes únicos realizan transacciones en dispositivos tipo POS? La respuesta debe incluir la cantidad de clientes asociados a estos barrios.
  </li>

  <li style="font-size: 16px; color: #444; margin-bottom: 8px; line-height: 1.5; padding-left: 20px;">
    <span style="font-weight: bold; color: #dc3545;">4. </span> ¿Cuáles son las 10 distancias únicas (en kilómetros) de los dispositivos más alejados entre sí del barrio Sucre?
  </li>
</ul>

<p style="font-weight: bold; font-size: 16px;">Información de los .csv:</p>
<ul>
  <li>Archivos con codificación UTF-8</li>
  <li>exa_barrios: Una lista con los barrios (zonas) de una ciudad.</li>
  <li>exa_dispositivos: Una lista con dispositivos de canales físicos (sucursales, cajero dispensador y multifuncional, corresponsales bancarios, PAC y establecimientos – POS), incluyendo su posición geográfica.</li>
  <li>exa_trx_clientes: Contiene la cantidad y monto de las transacciones de varios clientes realizados en algunos de los anteriores dispositivos.</li>
</ul>

<p style="font-weight: bold; font-size: 16px;">Advertencia:</p>
<p>Los datos contenidos en los archivos CSV son ficticios y solo se utilizan con fines demostrativos. <br> 
Esto incluye: los nombres de los dispositivos, ubicaciones, clientes, montos y demás información presentada.</p>

<p style="font-weight: bold; font-size: 16px;">Información de Sistema:</p>
<ul>
  <li>Ubuntu Desktop como Sistema Operativo.</li>
  <li>CSV cargados en el motor de PostgresSQL-14.</li>
  <li>Python 3.12</li>
  <li>R 4.1.2</li>
</ul>

<p style="font-weight: bold; font-size: 16px;">Enlace para descargar los CSV:</p>
<ul>
  <li><a href="https://github.com/KlissmannA/TheDataMiner/tree/main/Project%20I/Spanish/data" target="_blank">Github</a></li>
</ul>

<p style="font-weight: bold; font-size: 12px;">dato importante a mencionar: se cambio el nombre de la columna "num_cliente" por "cliente" en sql</p>

<p style="text-align:center; color: #2C3E50; font-size: 25px;">
  Preparación con <span style="color:#E74C3C; font-weight: bold;">Python</span>
</p>

<img src="https://i0.wp.com/junilearning.com/wp-content/uploads/2020/06/python-programming-language.webp?fit=800%2C800&ssl=1" alt="Python Programming" style="display:block; margin:auto; width:15%;"/>

<p style="font-weight: bold; font-size: 15px;">Librerias para python </p>

In [37]:
import pandas as pd
import os
import numpy as np

<p style="font-weight: bold; font-size: 15px;">Directorios archivos con el modulo OS </p>

In [2]:
dir = '/home/u2/Desktop/x'

In [3]:
barrios = os.path.join(dir,'exa_barrios.csv')

dispositivos = os.path.join(dir,'exa_dispositivos.csv')

clientes = os.path.join(dir,'exa_trx_clientes.csv')

<p style="font-weight: bold; font-size: 15px;">Leer los CSV con el modulo Pandas</p>

In [4]:
df_barrios = pd.read_csv(barrios)

df_dispositivos = pd.read_csv(dispositivos)

df_clientes = pd.read_csv(clientes)

<p style="font-weight: bold; font-size: 15px;"> ver detalladamante cada dataframe  con python</p>

<p style="font-weight: bold; font-size: 15px;"> Barrios. </p>

In [5]:
df_barrios.info()

print('\n')

df_barrios.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_barrio      337 non-null    int64
 1   nombre_barrio  337 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

id_barrio        0
nombre_barrio    0
dtype: int64

<p style="font-weight: bold; font-size: 15px;"> Dispositivos.</p>

In [6]:
df_dispositivos.info()

print('\n')

df_dispositivos.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37284 entries, 0 to 37283
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tipo_dispositivo    37284 non-null  object
 1   codigo_dispositivo  37284 non-null  int64
 2   latitud             37284 non-null  float64
 3   longitud            37284 non-null  float64
 4   id_barrio           37284 non-null  int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ MB

tipo_dispositivo      0
codigo_dispositivo    0
latitud               0
longitud              0
id_barrio             0
dtype: int64

<p style="font-weight: bold; font-size: 15px;"> Clientes.</p>

In [7]:
df_clientes.info()

print('\n')

df_clientes.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93446 entries, 0 to 93445
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          93446 non-null  float64
 1   tipo_doc            93446 non-null  int64
 2   tipo_dispositivo    93446 non-null  object
 3   codigo_dispositivo  93446 non-null  int64
 4   num_trx             93446 non-null  int64
 5   mnt_total_trx       93446 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 4.3+ MB

Unnamed: 0            0
tipo_doc              0
tipo_dispositivo      0
codigo_dispositivo    0
num_trx               0
mnt_total_trx         0
dtype: int64

<p style="font-weight: bold; font-size: 15px;">Cambiar el nombre a la columna 'Unnamed' por 'cliente'.</p>

In [8]:
df_clientes.rename(columns={'Unnamed: 0': 'cliente'}, inplace=True)

<p style="font-weight: bold; font-size: 15px;"> Ver los head de cada dataframe con Python.</p>

In [15]:
df_barrios.head()

   id_barrio nombre_barrio
0  737998257    La Campina
1  737999435     Guayaquil
2  737998219        Vipasa
3  737996837       Lourdes
4  737997031    Villanueva

In [16]:
df_clientes.head()

,cliente,tipo_doc,tipo_dispositivo,codigo_dispositivo,num_trx,mnt_total_trx
0,6.861790e+18,1,POS,14812028,3,22218042.0
1,1.552970e+18,1,POS,14388938,3,21583407.0
2,-4.075900e+18,1,POS,12370698,1,6185349.0
3,3.539340e+18,1,POS,10313583,2,10313583.0
4,5.595550e+18,1,POS,14358071,4,28716142.0

In [17]:
df_dispositivos.head()

  tipo_dispositivo  codigo_dispositivo   latitud   longitud  id_barrio
0              POS             1024702  3.451135 -76.530893  737998832
1              POS             1076402  3.446585 -76.517672  738000381
2              POS             1077002  3.446585 -76.517672  738000381
3              POS             3342404  3.476909 -76.485286  737998905
4              POS             3378003  3.485575 -76.516418  737998174

<p style="text-align:center; color: #2C3E50; font-size: 25px;">
  Preparación con <span style="color:#E74C3C; font-weight: bold;">R</span>
</p>

<img src="https://media.licdn.com/dms/image/v2/C5112AQGwFKL8eouK0A/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1523824114776?e=2147483647&v=beta&t=VdgLZlvJCA0vUzucSk-ElXr0oV5X324LhVNLLcmNZLk" style="display:block; margin:auto; width:15%;"/>

<p style="font-weight: bold; font-size: 15px;">Librerias para R </p>

In [45]:
library(dplyr)
library(readr)
library(pracma)

<p style="font-weight: bold; font-size: 15px;">Directorios archivos con la libreria read y crear los df.</p>

In [3]:
dir_R <- '/home/u2/Desktop/x'

In [4]:
dfr_barrios <- read_csv(file.path(dir_R,'exa_barrios.csv'), show_col_types = FALSE)

dfr_dispositivos <- read_csv(file.path(dir_R,'exa_dispositivos.csv'), show_col_types = FALSE)

dfr_clientes <- read_csv(file.path(dir_R,'exa_trx_clientes.csv'), show_col_types = FALSE)

<p style="font-weight: bold; font-size: 15px;"> cambiar de num_cliente a cliente</p>

In [5]:
dfr_clientes <- dfr_clientes %>%
  rename( cliente = num_cliente )

<p style="font-weight: bold; font-size: 15px;"> ver detalladamante cada dataframe con R</p>

In [6]:
head(dfr_barrios,5)

  id_barrio nombre_barrio
1 737998257 La Campina
2 737999435 Guayaquil
3 737998219 Vipasa
4 737996837 Lourdes
5 737997031 Villanueva

In [7]:
str(dfr_barrios)

spc_tbl_ [337 × 2] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ id_barrio    : num [1:337] 7.38e+08 7.38e+08 7.38e+08 7.38e+08 7.38e+08 ...
 $ nombre_barrio: chr [1:337] "La Campina" "Guayaquil" "Vipasa" "Lourdes" ...
 - attr(*, "spec")=
  .. cols(
  ..   id_barrio = col_double(),
  ..   nombre_barrio = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [8]:
head(dfr_dispositivos,5)

  tipo_dispositivo codigo_dispositivo latitud  longitud  id_barrio
1 POS              1024702            3.451135 -76.53089 737998832
2 POS              1076402            3.446585 -76.51767 738000381
3 POS              1077002            3.446585 -76.51767 738000381
4 POS              3342404            3.476909 -76.48529 737998905
5 POS              3378003            3.485575 -76.51642 737998174

In [9]:
str(dfr_dispositivos)

spc_tbl_ [37,284 × 5] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ tipo_dispositivo  : chr [1:37284] "POS" "POS" "POS" "POS" ...
 $ codigo_dispositivo: num [1:37284] 1024702 1076402 1077002 3342404 3378003 ...
 $ latitud           : num [1:37284] 3.45 3.45 3.45 3.48 3.49 ...
 $ longitud          : num [1:37284] -76.5 -76.5 -76.5 -76.5 -76.5 ...
 $ id_barrio         : num [1:37284] 7.38e+08 7.38e+08 7.38e+08 7.38e+08 7.38e+08 ...
 - attr(*, "spec")=
  .. cols(
  ..   tipo_dispositivo = col_character(),
  ..   codigo_dispositivo = col_double(),
  ..   latitud = col_double(),
  ..   longitud = col_double(),
  ..   id_barrio = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [10]:
head(dfr_clientes,5)

  cliente      tipo_doc tipo_dispositivo codigo_dispositivo num_trx
1  6.86179e+18 1        POS              14812028           3
2  1.55297e+18 1        POS              14388938           3
3 -4.07590e+18 1        POS              12370698           1
4  3.53934e+18 1        POS              10313583           2
5  5.59555e+18 1        POS              14358071           4
  mnt_total_trx
1 22218042
2 21583407
3  6185349
4 10313583
5 28716142

In [11]:
str(dfr_clientes)

spc_tbl_ [93,446 × 6] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ cliente           : num [1:93446] 6.86e+18 1.55e+18 -4.08e+18 3.54e+18 5.60e+18 ...
 $ tipo_doc          : num [1:93446] 1 1 1 1 1 1 1 1 1 1 ...
 $ tipo_dispositivo  : chr [1:93446] "POS" "POS" "POS" "POS" ...
 $ codigo_dispositivo: num [1:93446] 14812028 14388938 12370698 10313583 14358071 ...
 $ num_trx           : num [1:93446] 3 3 1 2 4 1 1 1 1 1 ...
 $ mnt_total_trx     : num [1:93446] 22218042 21583407 6185349 10313583 28716142 ...
 - attr(*, "spec")=
  .. cols(
  ..   num_cliente = col_double(),
  ..   tipo_doc = col_double(),
  ..   tipo_dispositivo = col_character(),
  ..   codigo_dispositivo = col_double(),
  ..   num_trx = col_double(),
  ..   mnt_total_trx = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

<p style="font-weight: bold; font-size: 15px;"> validar valores nulos</p>

In [12]:
missing_Valuesb <-  sapply(dfr_barrios, function(x) sum(is.na(x)))
missing_Valuesc <- sapply(dfr_clientes, function(x) sum(is.na(x)))
missing_Valuesd <- sapply(dfr_dispositivos, function(x) sum(is.na(x)))

missing_Valuesb
missing_Valuesc
missing_Valuesd

    id_barrio nombre_barrio
            0             0

           cliente           tipo_doc   tipo_dispositivo codigo_dispositivo
                 0                  0                  0                  0
           num_trx      mnt_total_trx
                 0                  0

  tipo_dispositivo codigo_dispositivo            latitud           longitud
                 0                  0                  0                  0
         id_barrio
                 0

<p style="font-weight: bold; font-size: 15px;">Preguntas </p>

<p style="font-weight: bold; font-size: 15px;">1.	¿Cuáles son los barrios en los cuales se realizaron los movimientos de al menos el 51% del dinero total tranzado por cada cliente? Considere que los clientes pueden tener más de un barrio. </p>

<p style="font-weight: bold; font-size: 15px;">SQL </p>

<div style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; border: 1px solid #ddd; font-family: 'Courier New', monospace; font-size: 16px;">
    <pre><code style="color: #2E8B57;">
WITH dinerototal AS (
SELECT cliente, 
SUM(mnt_total_trx) AS dineroxcliente 
FROM clientes c 
GROUP BY cliente
), 
dinerobarrio AS (
SELECT b.nombre_barrio, 
cliente, 
SUM(mnt_total_trx) AS dinerobarriocliente 
FROM clientes c 
LEFT JOIN dispositivos d ON d.codigo_dispositivo = c.codigo_dispositivo 
LEFT JOIN barrios b ON b.id_barrio = d.id_barrio 
GROUP BY b.nombre_barrio, cliente
) 
SELECT nombre_barrio, db.cliente 
FROM dinerobarrio db 
LEFT JOIN dinerototal dt ON dt.cliente = db.cliente 
WHERE db.dinerobarriocliente >= 0.51 * dineroxcliente;
    </code></pre>
</div>

<p style="font-weight: bold; font-size: 15px;"> Explicación:

En la consulta se realizaron las siguientes operaciones:

Cálculo del dinero total por cliente: Se utilizó una subconsulta para calcular el total transaccionado por cada cliente, sumando el monto de todas sus transacciones.

Cálculo del dinero transaccionado por barrio: En otra subconsulta, se sumaron las transacciones realizadas por cada cliente en cada barrio, usando un LEFT JOIN entre las tablas correspondientes para asegurar que todos los barrios, incluso aquellos sin transacciones, estuvieran representados.

Comparación de montos: Se unieron los resultados de ambas subconsultas y se aplicó una cláusula WHERE para filtrar los casos donde el dinero transaccionado en el barrio representaba al menos el 51% del total transaccionado por el cliente. Esto garantiza que solo se muestren los barrios relevantes según el criterio especificado.

Resultado final: El resultado muestra los barrios en los que un cliente ha realizado transacciones por al menos el 51% de su gasto total, considerando que un cliente puede tener más de un barrio asociado. </p>

<p style="font-weight: bold; font-size: 15px;">Python Code: </p>

In [12]:
df1 = df_clientes

# Paso 1: Agrupar por cliente y calcular el total de transacciones por cliente
df1_a = df1.groupby('cliente')['mnt_total_trx'].sum().reset_index()

# Renombrar la columna a 'dinerototal'
df1_a = df1_a.rename(columns={'mnt_total_trx': 'dinerototal'})

# Paso 2: Realizar merge con las tablas de dispositivos y barrios
df1_b = pd.merge(df1, df_dispositivos, on='codigo_dispositivo', how='left')
df1_c = pd.merge(df1_b, df_barrios, on='id_barrio', how='left')

# Paso 3: Agrupar por cliente y barrio, y calcular el total de transacciones por barrio
df1_d = df1_c.groupby(['cliente', 'nombre_barrio'])['mnt_total_trx'].sum().reset_index()

# Paso 4: Hacer un merge entre los resultados anteriores
df1_e = pd.merge(df1_a, df1_d, on='cliente', how='right')

# Renombrar la columna 'mnt_total_trx' a 'dinerobarrio'
df1_e = df1_e.rename(columns={'mnt_total_trx': 'dinerobarrio'})

# Paso 5: Filtrar aquellos barrios donde el dinero transaccionado es al menos el 51% del total por cliente
df1_f = df1_e[['nombre_barrio', 'cliente']][df1_e['dinerobarrio'] >= 0.51 * df1_e['dinerototal']]

# Ver los primeros 10 resultados
df1_f.head(10)

               nombre_barrio       cliente
8       Urbanización Militar -9.214610e+18
9                San Vicente -9.211520e+18
10        San Fernando Nuevo -9.210960e+18
18  Urbanización San Juaquín -9.204170e+18
35                 Versalles -9.201710e+18
37          Colseguros Andes -9.201640e+18
38               Ciudad 2000 -9.191710e+18
39                    Calima -9.186690e+18
61             Olaya Herrera -9.185850e+18
65             Los Alcázares -9.183470e+18

<p style="font-weight: bold; font-size: 15px;">Explicacion:

Agrupar por cliente: Se calcula el total de transacciones (mnt_total_trx) por cada cliente y se almacena como dinerototal.
Unir con dispositivos y barrios: Se hace un merge entre las tablas de clientes, dispositivos y barrios para asociar cada cliente con su(s) barrio(s) correspondiente(s).
Agrupar por barrio y cliente: Se agrupa por cliente y barrio, y se calcula el total de transacciones por barrio (dinerobarrio).
Unir los resultados: Se realiza otro merge para combinar el total por cliente (dinerototal) con el total por barrio (dinerobarrio).
Filtrar los barrios: Se aplica un filtro para seleccionar solo aquellos barrios donde el dinero transaccionado es al menos el 51% del total de transacciones del cliente.
El resultado final muestra los barrios que cumplen con este criterio para cada cliente.</p>

<p style="font-weight: bold; font-size: 15px;">R Code: </p>

In [70]:
# Paso 1: Agrupar por cliente y calcular el total de transacciones por cliente
df1_r_a <- df1_r %>%
  group_by(cliente) %>%
  summarise(mnt_total_trx = sum(mnt_total_trx))

# Renombrar la columna a 'dinerototal'
df1_r_a <- df1_r_a %>%
  rename(dinerototal = mnt_total_trx)

# Paso 2: Realizar merge con las tablas de dispositivos y barrios
df1_r_b <- left_join(df1_r, dfr_dispositivos, by = 'codigo_dispositivo', relationship = "many-to-many")
df1_r_c <- left_join(df1_r_b, dfr_barrios, by = 'id_barrio')

# Paso 3: Agrupar por cliente y barrio, y calcular el total de transacciones por barrio
df1_r_d <- df1_r_c %>%
  group_by(cliente, nombre_barrio) %>%
  summarise(mnt_total_trx = sum(mnt_total_trx))

# Paso 4: Hacer un merge entre los resultados anteriores
df1_r_e <- right_join(df1_r_a, df1_r_d, by = 'cliente')

# Renombrar la columna 'mnt_total_trx' a 'dinerobarrio'
df1_r_e <- df1_r_e %>%
  rename(dinerobarrio = mnt_total_trx) %>%
  ungroup()  # Desagrupar antes de aplicar cualquier filtro

# Paso 5: Seleccionar solo las columnas necesarias antes de filtrar
df1_r_e <- df1_r_e %>%  filter(dinerobarrio >= 0.51 * dinerototal)

# Resultado final
head(df1_r_e%>% select(cliente, nombre_barrio ),10)

`summarise()` has grouped output by 'cliente'. You can override using the
`.groups` argument.

   cliente      nombre_barrio
1  -9.21461e+18 Urbanización Militar
2  -9.21152e+18 San Vicente
3  -9.21096e+18 San Fernando Nuevo
4  -9.20417e+18 Urbanización San Juaquín
5  -9.20171e+18 Versalles
6  -9.20164e+18 Colseguros Andes
7  -9.19171e+18 Ciudad 2000
8  -9.18669e+18 Calima
9  -9.18585e+18 Olaya Herrera
10 -9.18347e+18 Los Alcázares

<p style="font-weight: bold; font-size: 15px;">Explicacion:

Primero, calcula el total de transacciones por cliente (dinerototal) y por barrio (dinerobarrio) mediante agrupamientos (group_by()) y se suma con (summarise()). Luego, se combina los resultados de ambos cálculos con right_join() para asegurar que se mantengan todos los clientes, incluso aquellos sin transacciones en ciertos barrios. Después de renombrar las columnas para mayor claridad, se desagrupa el dataframe (ungroup()) para evitar problemas en operaciones posteriores. Finalmente, se filtran las filas donde el total de transacciones por barrio (dinerobarrio) es al menos el 51% del total de transacciones por cliente (dinerototal), y se seleccionan solo las columnas relevantes para mostrar los resultados finales.</p>

<p style="font-weight: bold; font-size: 15px;">2.	¿Cuáles son los dispositivos con transacciones de al menos 100 clientes diferentes? </p>

<p style="font-weight: bold; font-size: 15px;">SQL</p>

<div style="background-color: #f9f9f9; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace; border: 1px solid #ddd;">
    <pre><code style="color: darkblue; font-size: 16px;">
SELECT 
    codigo_dispositivo, 
    COUNT(DISTINCT(cliente)) AS clientes_distintos
FROM 
    clientes c
GROUP BY 
    codigo_dispositivo
HAVING 
    COUNT(DISTINCT(cliente)) >= 100
ORDER BY 
    clientes_distintos DESC;
    </code></pre>
</div>

<p style="font-weight: bold; font-size: 15px;">Explicación:

Se realizó el conteo de cada cliente único utilizando dos funciones:

DISTINCT: Esta función se emplea para eliminar los valores duplicados en la columna de clientes, asegurando que solo se cuente una vez cada cliente.

COUNT: Permite contar las filas correspondientes a cada cliente, brindando el número total de registros para cada cliente único.

Al combinar estas dos funciones, se logra contar exclusivamente los clientes únicos. Para agrupar los resultados por código de dispositivo, se utiliza la cláusula GROUP BY, lo que permite obtener el número de clientes únicos para cada dispositivo.

Adicionalmente, se usa la cláusula HAVING para aplicar un filtro que garantice que solo se incluyan aquellos dispositivos que tengan al menos 100 clientes únicos. Por último, ORDER BY se emplea para ordenar los resultados de manera descendente según el conteo de clientes, de modo que los dispositivos con más clientes únicos aparezcan primero. </p>

<p style="font-weight: bold; font-size: 15px;">Python code:</p>

In [19]:
df2 = df_clientes

In [20]:
# Paso 1: Seleccionar las columnas necesarias
df2_a = df2[['codigo_dispositivo', 'cliente']]

# Paso 2: Agrupar por 'codigo_dispositivo' y contar los clientes únicos
df2_b = df2_a.groupby('codigo_dispositivo')['cliente'].nunique()

# Paso 3: Filtrar para tener solo aquellos dispositivos con 100 o más clientes únicos
df2_b = df2_b[df2_b >= 100]

# Paso 4: Ordenar los resultados en orden descendente por la cantidad de clientes únicos
df2_b = df2_b.sort_values(ascending=False).reset_index()

# Mostrar los resultados
df2_b

     codigo_dispositivo  cliente
0                   745      660
1              11303609      525
2                   829      482
3                   812      457
4                   747      457
..                  ...      ...
248                1187      102
249                5401      102
250                2182      101
251                3588      100
252                4594      100

[253 rows x 2 columns]

<p style="font-weight: bold; font-size: 15px;">Explicación:

El código agrupa los datos por codigo_dispositivo, 
luego cuenta cuántos clientes únicos hay por dispositivo utilizando nunique(). 
Después, filtra para mostrar solo los dispositivos que tengan 100 o más clientes únicos. 
Finalmente, ordena los resultados de mayor a menor y convierte el resultado en un DataFrame (en lugar de una Serie), 
para que sea más fácil de leer y trabajar con él.
</p>

<p style="font-weight: bold; font-size: 15px;">R code:</p>

In [12]:
df2_r <- dfr_clientes

In [87]:
# Paso 1: Seleccionar las columnas necesarias
df2_r_a <- df2_r[, c("codigo_dispositivo", 'cliente')]

# Paso 2: Agrupar por 'codigo_dispositivo' y contar los clientes únicos

df2_r_b<-  df2_r_a %>%
  group_by(codigo_dispositivo) %>%
  summarise(clientes_unicos = n_distinct(cliente))

# Paso 3: Filtrar para tener solo aquellos dispositivos con 100 o más clientes únicos

df2_r_c <- df2_r_b %>% filter(clientes_unicos >= 100)

# Paso 4: Ordenar los resultados en orden descendente por la cantidad de clientes únicos

df2_r_d <- df2_r_c %>% arrange(desc(clientes_unicos))

# Mostrar los resultados
df2_r_d

ERROR: Error: object 'df2_r' not found

<p style="font-weight: bold; font-size: 15px;">Explicación
    
Este código agrupa los datos por codigo_dispositivo y luego cuenta cuántos clientes únicos tiene cada dispositivo utilizando n_distinct(cliente). Después, filtra los dispositivos que tienen 100 o más clientes únicos, y finalmente ordena los resultados de mayor a menor cantidad de clientes únicos. Todo esto se hace de forma secuencial y el resultado se guarda en un nuevo conjunto de datos. </p>

<p style="font-weight: bold; font-size: 15px;">3.	¿Cuáles son los 5 barrios donde la mayor cantidad de clientes únicos realizan transacciones en dispositivos tipo POS? La respuesta debe incluir la cantidad de clientes asociados a estos barrios.</p>

<p style="font-weight: bold; font-size: 15px;">SQL</p>

<div style="background-color: #f9f9f9; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace; font-size: 16px;">
    <pre><code style="color: darkred;">SELECT 
    b.nombre_barrio, 
    COUNT(DISTINCT (c.cliente)) 
FROM 
    clientes c 
LEFT JOIN 
    dispositivos d ON d.codigo_dispositivo = c.codigo_dispositivo 
LEFT JOIN 
    barrios b ON b.id_barrio = d.id_barrio 
WHERE 
    c.tipo_dispositivo = 'POS' 
GROUP BY 
    b.nombre_barrio 
ORDER BY 
    COUNT(DISTINCT (c.cliente)) DESC 
LIMIT 5;</code></pre>
</div>

<p style="font-weight: bold; font-size: 15px;">Explicación:

Se realizaron las siguientes operaciones en la consulta:

Unión de tablas: Se utilizó un LEFT JOIN para combinar las tablas dispositivos y barrios. Este tipo de unión permite asociar cada dispositivo con el barrio correspondiente, incluso si algunos dispositivos no tienen un barrio asociado.

Contabilización de clientes únicos: Se aplicaron las funciones COUNT y DISTINCT para contar el número de clientes únicos en cada barrio. Esto asegura que no se cuenten clientes repetidos.

Filtrado de datos: Con la cláusula WHERE, se filtraron los dispositivos para que solo se incluyeran aquellos de tipo POS. Esto restringe los resultados a los dispositivos de este tipo específicos.

Agrupación y ordenación: Luego, se utilizó GROUP BY para agrupar los resultados por barrio, y ORDER BY DESC para ordenar los barrios de mayor a menor según el número de clientes únicos.

Limitación de resultados: Finalmente, se aplicó LIMIT 5 para obtener solo los cinco barrios con el mayor número de clientes únicos. </p>

<p style="font-weight: bold; font-size: 15px;">python code: </p>

In [21]:
df3 = df_clientes

# Paso 1: Unir las tablas 'clientes', 'dispositivos' y 'barrios' por las claves correspondientes
df3_a = pd.merge(df3, df_dispositivos, on='codigo_dispositivo', how='left')
df3_b = pd.merge(df3_a, df_barrios, on='id_barrio', how='left')

# Paso 2: Filtrar para quedarnos solo con los dispositivos de tipo 'POS'
df3_c = df3_b[df3_b['tipo_dispositivo_y'] == 'POS']

# Paso 3: Seleccionar las columnas 'nombre_barrio' y 'cliente' para el análisis
df3_d = df3_c[['nombre_barrio', 'cliente']]

# Paso 4: Agrupar por 'nombre_barrio' y contar los clientes únicos en cada barrio
df3_f = df3_d.groupby('nombre_barrio')['cliente'].nunique().reset_index()

# Paso 5: Ordenar los barrios por el número de clientes únicos de forma descendente
df3_g = df3_f.sort_values(by='cliente', ascending=False)

# Mostrar los resultados (5) 
df3_g.head()

                  nombre_barrio  cliente
215                 San Vicente     1295
250    Urbanización San Juaquín      899
214                   San Pedro      775
222    Santa Mónica Residencial      753
243  Urbanización Ciudad Jardín      699

<p style="font-size: 15px;">
    <strong>Explicación:</strong><br><br>
    Este código tiene como objetivo analizar la cantidad de clientes únicos en cada barrio, utilizando dispositivos de tipo 'POS'. Primero, se fusionan tres tablas: <code>df_clientes</code>, <code>df_dispositivos</code> y <code>df_barrios</code>. Se realiza una unión izquierda entre <code>df_clientes</code> y <code>df_dispositivos</code> usando la clave <code>codigo_dispositivo</code>, y luego se hace otra unión izquierda entre la tabla resultante y <code>df_barrios</code> mediante el campo <code>id_barrio</code>. Después, se filtra para quedarnos solo con los registros de dispositivos que sean de tipo 'POS', utilizando el valor de la columna <code>tipo_dispositivo_y</code>. A continuación, se seleccionan solo las columnas relevantes, en este caso <code>nombre_barrio</code> y <code>cliente</code>, para el análisis. Posteriormente, se agrupa por barrio (<code>nombre_barrio</code>) y se cuentan los clientes únicos en cada barrio usando la función <code>nunique()</code>. Finalmente, se ordenan los barrios por el número de clientes únicos de forma descendente, y se muestran los 5 primeros resultados. Esto permite obtener una lista de los barrios con mayor número de clientes únicos asociados a dispositivos de tipo 'POS'.
</p>

<p style="font-weight: bold; font-size: 15px;">R code: </p>

In [71]:
df_3_r <- dfr_clientes

In [72]:
# Paso 1: Unir las tablas 'clientes', 'dispositivos' y 'barrios' por las claves correspondientes
df_3_r_a <- left_join(df_3_r, dfr_dispositivos, by = 'codigo_dispositivo', relationship = "many-to-many")
df_3_r_b <- left_join(df_3_r_a, dfr_barrios, by = 'id_barrio')

# Paso 2: Filtrar para quedarnos solo con los dispositivos de tipo 'POS'
df_3_r_c <- df_3_r_b %>% filter(tipo_dispositivo.x == 'POS')  # O usa tipo_dispositivo.y si es el caso

# Paso 3: Seleccionar las columnas 'nombre_barrio' y 'cliente' para el análisis
df_3_r_d <- df_3_r_c %>% select(nombre_barrio, cliente)

# Paso 4: Agrupar por 'nombre_barrio' y contar los clientes únicos en cada barrio
df_3_r_f <- df_3_r_d %>% group_by(nombre_barrio) %>% summarise(clientes_unicos = n_distinct(cliente))

# Paso 5: Ordenar los barrios por el número de clientes únicos de forma descendente

df_3_r_g <- df_3_r_f %>% arrange(desc(clientes_unicos))

# Mostrar los resultados (5) 
head(df_3_r_g,5)

  nombre_barrio              clientes_unicos
1 San Vicente                1295
2 Urbanización San Juaquín    899
3 San Pedro                   775
4 Santa Mónica Residencial    753
5 Urbanización Ciudad Jardín  699

<p style="font-weight: bold; font-size: 15px;">Explicación:

Este código comienza con la unión de tres tablas usando left_join. Primero, se une df_3_r con dfr_dispositivos usando la clave codigo_dispositivo, y luego se une el resultado con dfr_barrios utilizando la clave id_barrio. Estas uniones aseguran que se mantengan todos los registros de la tabla df_3_r, agregando la información de las otras dos tablas donde haya coincidencias.

Luego, se filtran los datos para mantener únicamente los dispositivos de tipo 'POS' utilizando el filtro filter(tipo_dispositivo.x == 'POS'), lo que asegura que solo se trabajen con esos dispositivos en los siguientes pasos.

Después, se seleccionan solo las columnas nombre_barrio y cliente para centrarse en el análisis de los barrios y sus clientes. Posteriormente, se agrupan los datos por barrio (nombre_barrio) y se cuentan los clientes únicos por cada uno utilizando n_distinct(cliente).

Finalmente, los barrios se ordenan en orden descendente según el número de clientes únicos, y se muestran los primeros cinco barrios con más clientes </p>

<p style="font-weight: bold; font-size: 15px;">4.	¿Cuáles son las 10 distancias únicas (en kilómetros) de los dispositivos más alejados entre sí del barrio Sucre? <p>

<div style="background-color: #f9f9f9; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace; font-size: 16px;">
    <pre><code style="color: darkcyan;">
WITH Distancia_km AS (
    SELECT 
        d.codigo_dispositivo, 
        d2.codigo_dispositivo,
        6371 * 2 * ASIN(
            SQRT(
                POWER(SIN(RADIANS(d2.latitud - d.latitud) / 2), 2) + 
                COS(RADIANS(d.latitud)) * COS(RADIANS(d2.latitud)) * 
                POWER(SIN(RADIANS(d2.longitud - d.longitud) / 2), 2)
            )
        ) AS Distance
    FROM dispositivos d
    JOIN dispositivos d2 
        ON d.codigo_dispositivo <> d2.codigo_dispositivo
    LEFT JOIN barrios b 
        ON b.id_barrio = d.id_barrio 
        AND b.id_barrio = d2.id_barrio 
    WHERE UPPER(b.nombre_barrio) = 'SUCRE'
)
SELECT DISTINCT Distance 
FROM Distancia_km
ORDER BY Distance DESC 
LIMIT 10;
    </code></pre>
</div>

<p style="font-size: 15px;">
    <strong>Explicación:</strong><br><br>
    La distancia se calcula usando la fórmula de Haversine a partir de las coordenadas geográficas (latitud y longitud) de los dispositivos.<br><br>
    WITH Distancia_km AS (...): Crea una tabla temporal que calcula la distancia entre cada par de dispositivos.<br>
    Fórmula de Haversine: Calcula la distancia en km entre dos puntos usando sus latitudes y longitudes.<br>
    <img src="https://media.licdn.com/dms/image/v2/C4E12AQELArpNkVXXrw/article-inline_image-shrink_400_744/article-inline_image-shrink_400_744/0/1651494217361?e=2147483647&v=beta&t=XrYXCIkotJOXv_290Y6a5s4I41XeYXmTpaA1C-4rlFw"  style="max-width: 100%; height: auto; margin-top: 10px;"> .<br>
    JOIN dispositivos d2: Empareja cada dispositivo con todos los demás (excepto consigo mismo)
    <br>LEFT JOIN barrios b: Asegura que ambos dispositivos estén en el barrio "Sucre".<br>
    SELECT DISTINCT Distance: Muestra las distancias calculadas, ordenadas de mayor a menor y limitadas a las 10 distancias más grandes.
</p>

<p style="font-weight: bold; font-size: 15px;">Python Code: </p>

In [75]:
# Paso 1: Realizar el merge de los dataframes
df4 = df_dispositivos
df4_a = pd.merge(df4, df_barrios, on='id_barrio', how='left')

# Paso 2: Filtrar por nombre del barrio 'SUCRE'
df4_a = df4_a[df4_a['nombre_barrio'].str.upper() == 'SUCRE']

# Paso 3: Seleccionar las columnas necesarias
df4_a = df4_a[['codigo_dispositivo', 'latitud', 'longitud']]

# Paso 4: Renombrar columnas para el segundo dispositivo
df4_b = df4_a.rename(columns={'latitud': 'latitud2', 'longitud': 'longitud2'})

# Paso 5: Crear el dataframe cruzado
df4_c = df4_a.merge(df4_b, how='cross')

# Paso 6: Filtrar filas donde los dispositivos son distintos
df4_d = df4_c[df4_c['codigo_dispositivo_x'] != df4_c['codigo_dispositivo_y']]

# Paso 7: Calcular las distancias
df4_d['distancia'] = 6371 * 2 * np.arcsin(
    np.sqrt(
        np.power(np.sin(np.radians(df4_d['latitud2'] - df4_d['latitud']) / 2), 2) +
        np.cos(np.radians(df4_d['latitud'])) * np.cos(np.radians(df4_d['latitud2'])) *
        np.power(np.sin(np.radians(df4_d['longitud2'] - df4_d['longitud']) / 2), 2)
    )
)

# Paso 8: Crear df4_f solo con la columna 'distancia'
df4_f = df4_d[['distancia']].copy()  # Usamos .copy() para asegurarnos de que es una copia

# Paso 9: Eliminar duplicados y redondear a 6 decimales
df4_g = df4_f.drop_duplicates(subset=['distancia'])
df4_g.loc[:, 'distancia'] = df4_g['distancia'].round(6)

# Paso 10: Ordenar los valores de 'distancia' de forma descendente
df4_g = df4_g.sort_values(by='distancia', ascending=False)

# Paso 11: Mostrar los primeros 10 resultados
df4_g.head(10)

/tmp/ipykernel_125069/44188539.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_d['distancia'] = 6371 * 2 * np.arcsin(

       distancia
14698   0.997410
14434   0.993480
14664   0.991730
14718   0.991717
14500   0.988943
64346   0.988261
43930   0.987262
34186   0.986266
14499   0.984829
23338   0.984315

<p style="font-size: 15px;">
    <strong>Explicación:</strong><br><br>
    Este código tiene como objetivo calcular la distancia entre dispositivos geolocalizados en un barrio específico, filtrando los datos y procesándolos para obtener una lista ordenada de distancias únicas. Primero, se realiza una fusión entre dos DataFrames (<code>df_dispositivos</code> y <code>df_barrios</code>) usando el identificador del barrio, y se filtra solo el barrio denominado "SUCRE". Luego, se seleccionan las columnas de código de dispositivo, latitud y longitud para trabajar con ellas, renombrando las columnas de latitud y longitud del segundo dispositivo para evitar confusión en el cálculo. Se genera un cruce de datos (una combinación entre todos los dispositivos con otros dispositivos del mismo barrio) y se filtran aquellos dispositivos que no son iguales. Posteriormente, se calcula la distancia entre cada par de dispositivos usando la fórmula de Haversine, que emplea las coordenadas geográficas (latitud y longitud) de los dispositivos para obtener la distancia en kilómetros. Tras calcular la distancia, se extrae solo la columna correspondiente y se eliminan los duplicados, redondeando los valores a seis decimales para asegurar una representación precisa y consistente. Finalmente, los resultados se ordenan de manera descendente y se muestran los primeros 10 valores más altos. Todo esto permite generar una lista precisa de distancias únicas y ordenadas entre dispositivos dentro del barrio "SUCRE".
</p>

<p style="font-weight: bold; font-size: 15px;">R code: </p>

In [13]:
df4_r <- dfr_dispositivos

In [83]:
# Paso 1: Realizar el join y filtrar los datos para 'Sucre'
df4_r_a <- left_join(df4_r, dfr_barrios, by = 'id_barrio') %>% 
  filter(toupper(nombre_barrio) == 'SUCRE') 
df4_r_a <- df4_r_a[, c('codigo_dispositivo', 'latitud', 'longitud')]

df4_r_b <- left_join(df4_r, dfr_barrios, by = 'id_barrio') %>% 
  filter(toupper(nombre_barrio) == 'SUCRE')
df4_r_b <- df4_r_b[, c('codigo_dispositivo', 'latitud', 'longitud')]

# Paso 2: Hacer el merge entre df4_r_a y df4_r_b
df4_r_c <- merge(df4_r_a, df4_r_b, by = NULL)

# Paso 3: Filtrar las filas donde los códigos de dispositivo no son iguales
df4_r_c <- df4_r_c %>% filter(codigo_dispositivo.x != codigo_dispositivo.y)

# Paso 4: Renombrar las columnas de manera adecuada
df4_r_c <- df4_r_c %>% rename(
  la1 = latitud.x,  la2 = latitud.y, 
  lo1 = longitud.x, lo2 = longitud.y, 
  d1 = codigo_dispositivo.x, d2 = codigo_dispositivo.y
)

# Paso 5: Convertir las latitudes y longitudes a radianes (debe ser correcto para la fórmula)
df4_r_c$la1_rad <- deg2rad(df4_r_c$la1)
df4_r_c$la2_rad <- deg2rad(df4_r_c$la2)
df4_r_c$lo1_rad <- deg2rad(df4_r_c$lo1)
df4_r_c$lo2_rad <- deg2rad(df4_r_c$lo2)


# Paso 6: Calcular la distancia usando la fórmula Haversine, que requiere latitudes y longitudes en radianes

df4_r_c$distancia <- 6371 * 2 * asin(
  sqrt(
    (sin((df4_r_c$la2_rad - df4_r_c$la1_rad) / 2))^2 + 
    cos(df4_r_c$la1_rad) * cos(df4_r_c$la2_rad) * 
    (sin((df4_r_c$lo2_rad - df4_r_c$lo1_rad) / 2))^2
  )
)


# Paso 7: Eliminar duplicados y formatear la columna 'distancia'
df4_r_d <- df4_r_c %>%
  select(distancia) %>%        # Seleccionar solo la columna 'distancia'
  distinct()                   # Eliminar duplicados en 'distancia'

# Paso 8: Convertir 'distancia' a formato decimal (sin notación científica)
df4_r_d$distancia <- round(df4_r_d$distancia, 6)

# Paso 9: Ordenar los resultados en función de la columna 'distancia'
df4_r_d <- df4_r_d %>% arrange(desc(distancia))

# Mostrar los primeros 10 resultados
head(df4_r_d, 10)

   distancia
1  0.997410
2  0.993480
3  0.991730
4  0.991717
5  0.988943
6  0.988261
7  0.987262
8  0.986266
9  0.984829
10 0.984315

<p style="font-size: 15px;"> <strong>Explicación:</strong><br><br> Este código tiene como objetivo calcular las distancias entre dispositivos ubicados en el barrio "SUCRE" utilizando sus coordenadas geográficas (latitud y longitud). Primero, se realiza un <code>left_join</code> entre los dataframes de dispositivos (<code>df4_r</code>) y barrios (<code>dfr_barrios</code>) utilizando el identificador del barrio (<code>id_barrio</code>). Se filtran los dispositivos que pertenecen al barrio "SUCRE" usando <code>filter(toupper(nombre_barrio) == 'SUCRE')</code>. Luego, se seleccionan las columnas de código de dispositivo, latitud y longitud. Este proceso se repite para generar dos conjuntos de datos, <code>df4_r_a</code> y <code>df4_r_b</code>, que contienen información de los dispositivos en el barrio.
less
Copiar código

<p style="text-align:center; color:navy; font-size: 15px;">Realizado por <strong><em>Klissmann Anaclerio</em></strong>, prohibido su distribución sin autorización.</p>

<img src="https://blog.tryshiftcdn.com/uploads/2021/11/use.jpg" alt="Imagen explicativa" style="max-width: 50%; height: auto; display: block; margin-left: auto; margin-right: auto; margin-bottom: 15px;">